.dropdown {
  position: relative;
  display: block;
}

.btn {
  background: #CCC;
  padding: 10px;
  border-radius: 4px;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #000;
  position: relative;
  /*display: block;*/
}

[data-dropdown] {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  display: none;
}

[data-dropdown] li {
  margin: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

[data-dropdown] li:hover {
  background: #CCC;
}

[data-dropdown] a {
  position: relative;
  text-decoration: none;
  color: #000;
  display: block;
  padding: 2px;
}
